<% content_for :content do %>
<div class="jumbotron">
  <h1>○○社 管理画面</h1>
  <img src="http://codeforfukui.github.io/meganehack/img/160316_banner.png">
  <p>キャラクター表示回数 : 100 / 全体広告インプレッション数 : 100</p>
</div>
<div class="container-fluid" align="right" style="margin-bottom: 20px;">
  <%= link_to 'マーカーを新規追加', new_company_marker_path, class: 'btn btn-primary' %>
</div>
<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>マーカーサムネイル</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @markers.each do |marker| %>
      <tr>
        <td><%= marker.id %></td>
        <td><%= image_tag marker.image_url %></td>
        <td align="right">
          <%= link_to 'マーカーに紐ついた広告一覧', company_marker_advertisings_path(marker), class: 'btn btn-default' %>
          <%= link_to '削除', company_marker_path(marker), method: :delete, class: 'btn btn-danger' %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= render template: 'company/frame' %>