<div class="col-md-3">
  <div class="list-group">
    <a href="<%= admin_admins_url %>" class="list-group-item">管理者</a>
    <a href="<%= admin_companies_url %>" class="list-group-item">企業</a>
    <a href="<%= admin_staffs_url %>" class="list-group-item">スタッフ</a>
    <a href="<%= admin_markers_url %>" class="list-group-item">マーカー</a>
    <a href="<%= admin_characters_url %>" class="list-group-item">キャラクター</a>
    <a href="<%= admin_advertisings_url %>" class="list-group-item">広告</a>
    <a href="<%= admin_apps_url %>" class="list-group-item">アプリ</a>
  </div>
</div>
