<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @advertising.company_id %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @advertising.image_url %>
</p>

<p>
  <strong>Link url:</strong>
  <%= @advertising.link_url %>
</p>

<%= link_to 'Edit', edit_admin_advertising_path(@advertising) %> |
<%= link_to 'Back', admin_advertisings_path %>
