<% content_for :content do %>
  <%= form_for([:company, @staff]) do |f| %>
    <table class="table">
      <thead>
      <tr>
        <th>項目</th>
        <th>内容</th>
      </tr>
      </thead>
      <tbody>
      <% if controller.action_name == 'edit' || controller.action_name == 'update' %>
        <tr>
          <th>ID</th>
          <td><%= @staff.id %></td>
        </tr>
      <% end %>
      <tr>
        <th>名前</th>
        <% if controller.action_name == 'new' || controller.action_name == 'create' %>
          <td><%= f.text_field :name, class: 'form-control' %></td>
        <% else %>
          <td><%= @staff.name %></td>
        <% end %>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= f.email_field :email, class: 'form-control', placeholder: 'Email' %></td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td><%= f.password_field :password, class: 'form-control', placeholder: 'Password' %></td>
      </tr>
      <tr>
        <th>パスワード(確認用)</th>
        <td><%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password' %></td>
      </tr>
      </tbody>
    </table>
        <% if controller.action_name == 'new' || controller.action_name == 'create' %>
          <%= f.submit '作成', class: 'btn btn-default' %>
        <% else %>
          <%= f.submit '更新', class: 'btn btn-default' %>
          <%= link_to '削除', company_staff_path(@staff), method: :delete, class: 'btn btn-danger' %>
        <% end %>
  <% end %>
<% end %>
<%= render template: 'company/frame' %>
