<% content_for :content do %>
  <div class="container-fluid" align="right">
    <button type="button" class="btn btn-primary">新規追加</button>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>名前</th>
      <th>メールアドレス</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <% @staffs.each_with_index do |staff, i| %>
        <tr>
          <td><%= i %></td>
          <td><%= staff.name %></td>
          <td><%= staff.email %></td>
          <td align="right">
            <%= link_to '編集', company_staff_path(staff), {class: 'btn btn-default'} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= render template: 'company/frame' %>
