<% content_for :content do %>
  <% if @staff.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for([:admin, @staff]) do |f| %>
    <table class="table">
      <thead>
        <tr>
          <th>項目</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>名前</th>
          <td><%= f.text_field :name, class:"form-control", placeholder:"Name" %></td>
        </tr>
        <tr>
          <th>所属企業</th>
          <td>
            <%= f.collection_select :company_id, @companies, :id,  :name, {}, class:"form-control" %>
          </td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.text_field :email, class:"form-control", placeholder:"Email" %></td>
        </tr>
        <tr>
          <th>パスワード</th>
          <td><%= f.password_field :password, class:"form-control", placeholder:"Password" %></td>
        </tr>
        <tr>
          <th>パスワード（確認）</th>
          <td><%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirm Password" %></td>
        </tr>
      </tbody>
    </table>
    <%= f.submit "作成", class:"btn btn-primary" %>
  <% end %>
<% end %>
<%= render :template => 'admin/frame' %>

<%
=begin
%>
<h1>New Staff</h1>

<%= render 'form' %>

<%= link_to 'Back', admin_staffs_path %>
<%
=end
%>
