<% content_for :content do %>
  <% if @app.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
      <% @app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for([:admin, @app]) do |f| %>
    <table class="table">
      <thead>
        <tr>
          <th>項目</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>アプリ名</th>
          <td><%= f.text_field :name, class:"form-control", placeholder:"Name" %></td>
        </tr>
        <tr>
          <th>Android</th>
          <td><%= f.text_field :android_version, class:"form-control", placeholder:"1.0" %></td>
        </tr>
        <tr>
          <th>iOS</th>
          <td><%= f.text_field :ios_version, class:"form-control", placeholder:"1.0" %></td>
        </tr>
        <tr>
          <th>補足</th>
          <td>
            <%= f.text_area :memo, class:"form-control" %>
          </td>
        </tr>
      </tbody>
    </table>
    <%= f.submit "作成", class:"btn btn-default" %>
  <% end %>
<% end %>
<%= render :template => 'admin/frame' %>

<%
=begin
%>
<h1>New App</h1>

<%= render 'form' %>

<%= link_to 'Back', admin_apps_path %>

<%
=end
%>
